@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  
  img {
    max-width: 100%;
  }

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 40px;
  padding: 10px;
}
.slick-slide {
  margin: 0 10px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

.mySwiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 6px;
  }
  
  .mySwiper .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
  }
  .swiper-scrollbar .swiper-scrollbar-horizontal {
    display: none;
  }

  .swiper-pagination-bullet {
    width: 22px;
    height: 22px;
    background-color: #fff;
  }
  
  .swiper-pagination-bullet-active {
    background-color: "#ffff00" !important;
  }
  
  .swiper {
    position: relative;
    padding-bottom: 2rem;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: -5px !important;
    width: 100%;
    text-align: center;
  }
  .swiper-button-next, .swiper-button-prev{
    display: none;
  }

  /* benefits */
  /* .custom-shadow{
    box-shadow: 8px 0px 29px rgba(22, 22, 23, 0.17);
  } */
  .benefits-card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  .benefits-card:hover {
    box-shadow: 0px 322px 90px 0px rgba(0, 0, 0, 0),
      0px 206px 82px 0px rgba(0, 0, 0, 0.01),
      0px 116px 69px 0px rgba(0, 0, 0, 0.03),
      0px 51px 51px 0px rgba(0, 0, 0, 0.05), 0px 13px 28px 0px rgba(0, 0, 0, 0.06);
    transform: scale(1.05);
  }